@model work_01.Models.tblAttendence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblAttendence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InMinute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InMinute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutMinute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutMinute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRegularHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRegularHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEmployee.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEmployee.EmpName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
