@model work_01.Models.tblBenefit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblBenefit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BenefitAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenefitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenefitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousNetSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousNetSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewNetSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewNetSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gross)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gross)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvenceAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvenceAll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashIntensive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashIntensive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.launceAllowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.launceAllowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherAllowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherAllowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenifitActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenifitActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEmployee.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEmployee.EmpName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BenefitCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
