@model work_01.Models.tblBenefit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblBenefit</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BenefitCode)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpCode, "EmpCode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmpCode", String.Empty)
                @Html.ValidationMessageFor(model => model.EmpCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BenefitAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BenefitAmount)
                @Html.ValidationMessageFor(model => model.BenefitAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BenefitDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BenefitDate)
                @Html.ValidationMessageFor(model => model.BenefitDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BenefitType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BenefitType)
                @Html.ValidationMessageFor(model => model.BenefitType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousNetSalary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousNetSalary)
                @Html.ValidationMessageFor(model => model.PreviousNetSalary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewNetSalary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewNetSalary)
                @Html.ValidationMessageFor(model => model.NewNetSalary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gross, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gross)
                @Html.ValidationMessageFor(model => model.Gross)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Basic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Basic)
                @Html.ValidationMessageFor(model => model.Basic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HouseRent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HouseRent)
                @Html.ValidationMessageFor(model => model.HouseRent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Medical, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Medical)
                @Html.ValidationMessageFor(model => model.Medical)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConvenceAll, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConvenceAll)
                @Html.ValidationMessageFor(model => model.ConvenceAll)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CashIntensive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CashIntensive)
                @Html.ValidationMessageFor(model => model.CashIntensive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.launceAllowance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.launceAllowance)
                @Html.ValidationMessageFor(model => model.launceAllowance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.otherAllowance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.otherAllowance)
                @Html.ValidationMessageFor(model => model.otherAllowance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateStatus)
                @Html.ValidationMessageFor(model => model.StateStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BenifitActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BenifitActiveDate)
                @Html.ValidationMessageFor(model => model.BenifitActiveDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
