@model work_01.Models.tbleTransferInfo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbleTransferInfo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TRCode)

        <div class="form-group">
            @Html.LabelFor(model => model.TRDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TRDate)
                @Html.ValidationMessageFor(model => model.TRDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OldDeptCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldDeptCode)
                @Html.ValidationMessageFor(model => model.OldDeptCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewDeptCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewDeptCode)
                @Html.ValidationMessageFor(model => model.NewDeptCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OldDesignationCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldDesignationCode)
                @Html.ValidationMessageFor(model => model.OldDesignationCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewDesigtnationCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewDesigtnationCode)
                @Html.ValidationMessageFor(model => model.NewDesigtnationCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OldSecCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldSecCode)
                @Html.ValidationMessageFor(model => model.OldSecCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewSecCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewSecCode)
                @Html.ValidationMessageFor(model => model.NewSecCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OldDivCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldDivCode)
                @Html.ValidationMessageFor(model => model.OldDivCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewDivCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewDivCode)
                @Html.ValidationMessageFor(model => model.NewDivCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrActivateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrActivateDate)
                @Html.ValidationMessageFor(model => model.TrActivateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpCode, "EmpCode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmpCode", String.Empty)
                @Html.ValidationMessageFor(model => model.EmpCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateStatus)
                @Html.ValidationMessageFor(model => model.StateStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpName)
                @Html.ValidationMessageFor(model => model.EmpName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
