@model work_01.Models.tblDesignation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblDesignation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDepartment.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDepartment.DepartmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DesigCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
