@model work_01.Models.tblEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDepartment.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDepartment.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDesignation.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDesignation.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDivision.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDivision.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEmployeeType.EmpType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEmployeeType.EmpType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSection.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSection.SectionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
